
div.contact-line {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid white;
}

div.contact-line p {
    font-size: 20px;
}

div.btns a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
}

div.btns a:visited {
    color: black;
} 

div.btns a:hover {
    color: #3A395A;
} 

div.btns {
    text-align: end;
}
